---
export async function getStaticPaths() {
  return (await getAllPosts()).map((post) => {
    return {
      params: {
        slug: post.slug,
      },
    };
  });
}

import Layout from "../../layouts/Layout.astro";
import { getCategoriesByIds } from "../../lib/wordpress/categories";
import { getAllPosts, getPostBySlug } from "../../lib/wordpress/posts";
import { getUser } from "../../lib/wordpress/users";

const { slug } = Astro.params;
const post = await getPostBySlug(slug!);
const author = await getUser(post?.author!);
const categories = await getCategoriesByIds(post?.categories!);
---

<Layout title={post?.title.rendered ?? "Post not found"}>
  <article class="px-10 max-w-4xl">
    {
      post ? (
        <>
          <h1 class="mb-3">{post.title.rendered}</h1>
          <a class="mb-3" href={`/users/${author?.slug}`}>
            by {author?.name}
          </a>
          <ul class="mt-2 flex">
            {categories.map((category) => (
              <li class="mr-2 bg-dark hover:bg-sea rounded-md p-1">
                <a href={`/categories/${category.slug}`}>{category.name}</a>
              </li>
            ))}
          </ul>

          <div set:html={post.content.rendered} />
        </>
      ) : (
        <h1>Post not Found</h1>
      )
    }
  </article>
</Layout>
