---
import type { WP_REST_API_Categories, WP_REST_API_User } from "wp-types";

export interface Props {
  title: string;
  author: WP_REST_API_User;
  href: string;
  categories: WP_REST_API_Categories;
}

const { href, title, author, categories } = Astro.props;
---

<li class="card">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <p>
      Written by <a href={`/users/${author.slug}`}>{author.slug}</a>
    </p>
    <ul class="flex">
      {
        categories.map((category) => {
          return (
            <li class="mr-2 bg-jet hover:bg-sea rounded-md p-1">
              <a href={`/categories/${category.slug}`}>{category.name}</a>
            </li>
          );
        })
      }
    </ul>
  </a>
</li>
