---
import type { WP_REST_API_Attachment, WP_REST_API_Post } from "wp-types";
import { getMedia } from "../lib/wordpress/media";
import { getUser } from "../lib/wordpress/users";
import { getCategoriesByIds } from "../lib/wordpress/categories";

export interface Props {
  post: WP_REST_API_Post;
}

const { post } = Astro.props;
const href = `/posts/${post.slug}`;
const title = post.title.rendered;
const author = await getUser(post.author);
const categories =
  post.categories && (await getCategoriesByIds(post.categories));
const published = post.date;
const media = post.featured_media;
let image: WP_REST_API_Attachment | null = null;
if (media) {
  image = await getMedia(media);
}
---

<li class="card" onclick={`location.href='${href}'`} style="cursor: pointer;">
  <a href={href}>
    {
      image && image.media_type == "image" && (
        <img
          class="max-w-xs max-h-xs"
          src={image.source_url}
          alt="Featured Image"
        />
      )
    }
    <h2 class="underline">
      {title}
    </h2>
    <p>
      Written by <a class="underline" href={`/users/${author?.slug}`}
        >{author?.slug}</a
      >
      {new Date(published).toDateString()}
    </p>
    <ul class="flex">
      {
        categories &&
          categories.map((category) => {
            return (
              <li class="mr-2 bg-jet hover:bg-sea rounded-md p-1">
                <a href={`/categories/${category.slug}`}>{category.name}</a>
              </li>
            );
          })
      }
    </ul>
  </a>
</li>
